# Environnement Python
.venv/


# Python
__pycache__/
*.py[cod]
*.pyo

# Variables d'environnement
.env

# Bases vectorielles
chroma_db/
*.db

# Modèles téléchargés
models/
.cache/

# IDE
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# Fichiers temporaires
*.tmp
*.temp

# Données potentiellement confidentielles
data/*
!data/.gitkeep