# Environnements Python
.venv/
venv/
env/

# Python
__pycache__/
*.pyc

# RAG
chroma_db/
chunking_cache/

# Modèles
models/
*.bin
*.safetensors

# Variables d'environnement
.env

# IDE
.vscode/
.idea/

# Cache
.cache/